<nav>
  <a routerLink="/Assignment1"  class="col-1-4">Assignment 1</a>
  <a routerLink="/Assignment2"  class="col-1-4">Assignment 2</a>
  <a routerLink="/Assignment3"  class="col-1-4">Assignment 3</a>
  <a routerLink="/Assignment4"  class="col-1-4">Assignment 4</a>
</nav>

<div class="startpageContent"> <img src="./app/images/lorem-ipsum.jpg"  align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu urna porta, laoreet libero porta, blandit mauris.
  Suspendisse laoreet arcu in enim maximus elementum. Mauris quis magna vitae mauris tincidunt tincidunt
  ut sit amet massa. Donec a auctor nibh. Nam maximus vitae elit id accumsan. Etiam pellentesque imperdiet
  nibh vitae vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed convallis lectus.
  Nunc euismod gravida lacinia. Cras tempor elit at dui cursus, a viverra risus accumsan. Suspendisse et
  rhoncus libero. Aliquam vehicula posuere urna, at rutrum nisl luctus non. Etiam lectus massa, ullamcorper
  nec ex quis, elementum tincidunt mauris. Donec mattis faucibus arcu vitae auctor. Etiam quis nisl eu
  magna efficitur dapibus non ac diam. In mollis, nulla posuere bibendum rutrum, mauris arcu aliquet metus,
  vitae scelerisque erat lorem at ante. Donec vel dapibus velit.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu urna porta, laoreet libero porta,
  blandit mauris. Suspendisse laoreet arcu in enim maximus elementum. Mauris quis magna vitae mauris tincidunt
  tincidunt ut sit amet massa. Donec a auctor nibh. Nam maximus vitae elit id accumsan. Etiam pellentesque
  imperdiet nibh vitae vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed convallis
  lectus. Nunc euismod gravida lacinia. Cras tempor elit at dui cursus, a viverra risus accumsan. Suspendisse
  et rhoncus libero. Aliquam vehicula posuere urna, at rutrum nisl luctus non. Etiam lectus massa, ullamcorper
  nec ex quis, elementum tincidunt mauris. Donec mattis faucibus arcu vitae auctor. Etiam quis nisl eu
  magna efficitur dapibus non ac diam. In mollis, nulla posuere bibendum rutrum, mauris arcu aliquet metus,
  vitae scelerisque erat lorem at ante. Donec vel dapibus velit.
  Nunc euismod gravida lacinia. Cras tempor elit at dui cursus, a viverra risus accumsan. Suspendisse
  et rhoncus libero. Aliquam vehicula posuere urna, at rutrum nisl luctus non. Etiam lectus massa, ullamcorper
  nec ex quis, elementum tincidunt mauris. Donec mattis faucibus arcu vitae auctor. Etiam quis nisl eu
  magna efficitur dapibus non ac diam. In mollis, nulla posuere bibendum rutrum, mauris arcu aliquet metus,
  vitae scelerisque erat lorem at ante. Donec vel dapibus velit. Nunc euismod gravida lacinia. Cras tempor elit at dui cursus, a viverra risus accumsan. Suspendisse
  et rhoncus libero. Aliquam vehicula posuere urna, at rutrum nisl luctus non. 
  Etiam lectus massa, ullamcorper
  nec ex quis, elementum tincidunt mauris. Donec mattis faucibus arcu vitae auctor. Etiam quis nisl eu
  magna efficitur dapibus non ac diam. In mollis, nulla posuere bibendum rutrum, mauris arcu aliquet metus,
  vitae scelerisque erat lorem at ante. Donec vel dapibus velit.Etiam quis nisl eu
  magna efficitur dapibus non ac diam. In mollis, nulla posuere bibendum rutrum, mauris arcu aliquet metus,
  vitae scelerisque erat lorem at ante. Donec vel dapibus velit. Nunc euismod gravida lacinia. Cras tempor elit at dui cursus, a viverra risus accumsan. Suspendisse
  et rhoncus libero. Aliquam vehicula posuere urna, at rutrum nisl luctus non. Etiam lectus massa, ullamcorper
  nec ex quis, elementum tincidunt mauris. Donec mattis faucibus arcu vitae auctor. Etiam quis nisl eu
  magna efficitur dapibus non ac diam. In mollis, nulla posuere bibendum rutrum, mauris arcu aliquet metus,
  vitae scelerisque erat lorem at ante. Donec vel dapibus velit.
   </div>