.asc{
  margin: 100px;
  border: 1px solid #020202;
  background-color: darkgray;
  height: 641px;
}
h1
 {
  position: relative;
  font-size: large;
  text-align: center;
  top: 53px;
 }

  #content3 div p {
    color: black;
    position: relative;
    top: -114px;
    font-size: 40px;
    font-family: Share, Helvetica, Arial, sans-serif;
    text-align: center;
  }
  #content3 div{
    text-align: center;
  }
  #content3 select, option {
    position: relative;
    padding: 10px;
    background: #b1dff1;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    top: 100px;
  }
  div#Assignment3Background{
    font-size: -webkit-xxx-large;
  
  }
  button {
    bottom: -370px;
    position: relative;
    left: 20px;
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }