h2 {
    font-size: x-large;
    text-align: center;
    color: rgb(255, 255, 255);
  }

.data {
 color:rgb(242, 245, 248);
 text-align: center;
 font-size: xx-large;
 position: relative;
 left: 588px;
 top: 100px;
}
tr {
  height: 127px;
}
table {
  background-color: #b3b3b3;
  color: dodgerblue;
}