[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center; margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .col-1-4 {
    width: 11%;
    position: relative;
    text-align: center;
    left: 612px;
}
  .module {
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    max-height: 120px;
    min-width: 120px;
    background-color: rgb(153, 153, 153);
    border-radius: 2px;
  }
  .module:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: #039be5;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }
  .startpageContent {
    width: 1300px;
    font-size: larger;
    border-radius: 20px;
    text-align: justify;
    margin-top: 150px;
    background-color: #efefef;
    color: #000000;
    padding: 10px;
    margin-left: 300px;
}
  .startpageContent img {
    border-radius: 45px;
    width: 250px;
    margin: 15px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
 