
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }

  .col-1-4 {
    width: 11%;
    margin: auto;
    position: relative;
    text-align: center;
    left: 460px;
    top: 60px;
}